<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xi="http://www.w3.org/2001/XInclude">

	<!-- START VERSION 2.0 -->
	<!-- START INVOICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol4a:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice in Norway, profile invoice only</en>
			<no>EHF faktura i Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nogov.xml"/>
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol4a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice only</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice in Norway, profile invoice and creditnote</en>
			<no>EHF faktura i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nogov.xml"/>
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.cenbii.eu:profile.eu:biixy:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF faktura i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T10-Nogov.xml"/>
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>	
	<!-- STOP INVOICE -->
	
	
	<!-- START CREDITNOTE -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixx:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.cenbii.eu:profile:biixx:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote in Norway, profile creditnote only</en>
			<no>EHF kreditnota i Norge, profil kun kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nogov.xml"/>
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote in Norway, profile invoice and creditnote</en>
			<no>EHF kreditnota i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nogov.xml"/>
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS creditnote outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS kreditnota utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.cenbii.eu:profile:biixy:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF kreditnota i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/2.0/UBL-T14-Nogov.xml"/>
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	<!-- STOP CREDITNOTE -->
	<!-- STOP VERSION 2.0 -->
	
	
	
	
	<!-- START VERSION 1.6 -->
	<!-- START INVOICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.6"
		render="true">
		<name>
			<en>EHF invoice in Norway, profile invoice only</en>
			<no>EHF faktura i Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgenRulesCodes.xml"/>
		<!-- Render xml -->
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Render.xml"/>		
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0" 
		version="1.6">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice only</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.6">
		<name>
			<en>EHF invoice in Norway, profile invoice and creditnote</en>
			<no>EHF faktura i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.6">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.cenbii.eu:profile.eu:biixy:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.6">
		<name>
			<en>EHF invoice in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF faktura i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP INVOICE -->
	
	
	<!-- START CREDITNOTE -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.6">
		<name>
			<en>EHF creditnote in Norway, profile creditnote only</en>
			<no>EHF kreditnota i Norge, profil kun kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.6">
		<name>
			<en>EHF creditnote in Norway, profile invoice and creditnote</en>
			<no>EHF kreditnota i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.6">
		<name>
			<en>PEPPOL BIS creditnote outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS kreditnota utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.6">
		<name>
			<en>EHF creditnote in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF kreditnota i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP CREDITNOTE -->
	
	
	<!-- START REMINDER -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm017:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:puring:ver1" 
		version="1.6">
		<name>
			<en>EHF reminder in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF purring i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Reminder-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.6/UBL-T17-Nonat.xml"/>
	</validate>
	<!-- STOP REMINDER -->
	<!-- STOP VERSION 1.6 -->
	
	
	
	
	<!-- START VERSION 1.5 -->
	<!-- START INVOICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.5">
		<name>
			<en>EHF invoice in Norway, profile invoice only</en>
			<no>EHF faktura i Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0" 
		version="1.5">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice only</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.5">
		<name>
			<en>EHF invoice in Norway, profile invoice and creditnote</en>
			<no>EHF faktura i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.5">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.cenbii.eu:profile.eu:biixy:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.5">
		<name>
			<en>EHF invoice in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF faktura i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP INVOICE -->
	
	
	<!-- START CREDITNOTE -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.5">
		<name>
			<en>EHF creditnote in Norway, profile creditnote only</en>
			<no>EHF kreditnota i Norge, profil kun kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.5">
		<name>
			<en>EHF creditnote in Norway, profile invoice and creditnote</en>
			<no>EHF kreditnota i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.5">
		<name>
			<en>PEPPOL BIS creditnote outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS kreditnota utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.5">
		<name>
			<en>EHF creditnote in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF kreditnota i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP CREDITNOTE -->
	
	
	<!-- START REMINDER -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm017:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:puring:ver1" 
		version="1.5">
		<name>
			<en>EHF reminder in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF purring i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Reminder-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.5/UBL-T17-Nonat.xml"/>
	</validate>
	<!-- STOP REMINDER -->
	<!-- STOP VERSION 1.5 -->
	
	
	
	
	<!-- START VERSION 1.4 -->
	<!-- START INVOICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>EHF invoice in Norway, profile invoice only</en>
			<no>EHF faktura i Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol4a:ver1.0" 
		version="1.4">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice only</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil kun faktura</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>EHF invoice in Norway, profile invoice and creditnote</en>
			<no>EHF faktura i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.4">
		<name>
			<en>PEPPOL BIS invoice outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS faktura utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0:#urn:www.cenbii.eu:profile.eu:biixy:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>EHF invoice in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF faktura i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Invoice-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T10-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP INVOICE -->
	
	
	<!-- START CREDITNOTE -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixx:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.4">
		<name>
			<en>EHF creditnote in Norway, profile creditnote only</en>
			<no>EHF kreditnota i Norge, profil kun kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.4">
		<name>
			<en>EHF creditnote in Norway, profile invoice and creditnote</en>
			<no>EHF kreditnota i Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.4">
		<name>
			<en>PEPPOL BIS creditnote outside Norway, profile invoice and creditnote</en>
			<no>PEPPOL BIS kreditnota utenfor Norge, profil faktura og kreditnota</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm014:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:kreditnota:ver1" 
		version="1.4">
		<name>
			<en>EHF creditnote in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF kreditnota i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-CreditNote-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiCore.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiProfiles.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRules.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgen.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nonat.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-Nogov.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-BiiRulesCodes.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T14-EUgenRulesCodes.xml"/>
	</validate>
	<!-- STOP CREDITNOTE -->
	
	
	<!-- START REMINDER -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm017:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:puring:ver1" 
		version="1.4">
		<name>
			<en>EHF reminder in Norway, profile invoice, creditnote and reminder</en>
			<no>EHF purring i Norge, profil faktura, kreditnota og purring</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Reminder-2.0.xml"/>
		<xi:include href="/STANDARD/common/includes/1.4/UBL-T17-Nonat.xml"/>
	</validate>
	<!-- STOP REMINDER -->
	<!-- STOP VERSION 1.4 -->
	
	
	
	
	<!-- START VERSION 1.0 -->
	<!-- START CATALOGUE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns019:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0:extended:urn:www.difi.no:ehf:katalog:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Catalogue in Norway, Norwegian actors only</en>
			<no>EHF katalog i Norge, norske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Catalogue-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T19-BIIRULES-UBL-Nogov-Katalog.xml"/>
	</validate>
	
	<!--validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns019:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0" 
		version="1.0">
		<name>
			<en>EHF Catalogue in Norway, international actor</en>
			<no>EHF katalog i Norge, utenlandsk aktør</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Catalogue-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T19-BIIRULES-UBL-Nogov-Katalog.xml"/>
	</validate-->
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns058:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0:extended:urn:www.difi.no:ehf:katalogbekreftelse:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Cataloguerespone in Norway, Norwegian actors only</en>
			<no>EHF katalogbekreftelse i Norge, norske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-ApplicationResponse-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/BIIRULES-UBL-T58-Nogov-Katalogbekreftelse.xml"/>
	</validate>		
	<!-- STOP CATALOGUE -->
	
	
	<!-- START ORDER -->
	<validate 
		id="
		urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns001:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0:extended:urn:www.difi.no:ehf:ordre:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Order in Norway, Norwegian actors only</en>
			<no>EHF Ordre i Norge, norske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Order-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T01-BIIRULES-Nogov-Ordre.xml"/>
	</validate>
	
	<!--validate 
		id="
		urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns001:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Order in Norway, International actors</en>
			<no>EHF Ordre i Norge, utenlandske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-Order-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T01-BIIRULES-Nogov-Ordre.xml"/>
	</validate-->	
	<!-- STOP ORDER -->
	
	
	<!-- START ORDER RESPONSE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns076:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0:extended:urn:www.difi.no:ehf:ordrebekreftelse:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Orderresponse in Norway, Norwegian actors only</en>
			<no>EHF Ordrebekreftelse i Norge, norske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-OrderResponse-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T02-BIIRULES-Nogov-Ordrebekreftelse.xml"/>
	</validate>
	
	<!--validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0 urn:www.cenbii.eu:transaction:biitrns076:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Orderresponse in Norway, International actors</en>
			<no>EHF Ordrebekreftelse i Norge, utenlandske aktører</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-OrderResponse-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T02-BIIRULES-Nogov-Ordrebekreftelse.xml"/>
	</validate-->	
	<!-- STOP ORDER RESPONSE -->	
	
	
	<!-- START DESPATCHADVICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii30:ver2.0#urn:www.cenbii.eu:transaction:biitrns016:ver1.0:extended:urn:www.peppol.eu:bis:peppol30a:ver1.0:extended:urn:www.difi.no:ehf:pakkseddel:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Despatch Advice in Norway, profile Despatch Advice only</en>
			<no>EHF pakkseddel i Norge,  profil pakkseddel</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-DespatchAdvice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T16-BIIRULES.xml"/>
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii30:ver2.0#urn:www.cenbii.eu:transaction:biitrns016:ver1.0:extended:urn:www.peppol.eu:bis:peppol30a:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Despatch Advice outside Norway, profile Despatch Advice only</en>
			<no>EHF pakkseddel utenfor Norge, profil pakkseddel</no>
		</name>
		<xi:include href="/STANDARD/common/includes/UBL-DespatchAdvice-2.1.xml"/>
		<xi:include href="/STANDARD/common/includes/1.0/UBL-T16-BIIRULES.xml"/>
	</validate>	
	<!-- STOP DESPATCHADVICE -->	
	<!-- STOP VERSION 1.0 -->
		
</config>
