<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xi="http://www.w3.org/2001/XInclude">

	<!-- START VERSION 2.0 -->
	<!-- START INVOICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol4a:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice, profile invoice only</en>
			<no>EHF faktura, profil kun faktura</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T10-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol4a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS invoice, profile invoice only</en>
			<no>PEPPOL BIS faktura, profil kun faktura</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EUgen.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice, profile invoice and creditnote</en>
			<no>EHF faktura, profil faktura og kreditnota</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T10-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS invoice, profile invoice and creditnote</en>
			<no>PEPPOL BIS faktura, profil faktura og kreditnota</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EUgen.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver2.0#urn:www.cenbii.eu:transaction:biitrns010:ver2.0:extended:urn:www.cenbii.eu:profile.eu:biixy:ver2.0:extended:urn:www.difi.no:ehf:faktura:ver2.0" 
		version="2.0">
		<name>
			<en>EHF invoice, profile invoice, creditnote and reminder</en>
			<no>EHF faktura, profil faktura, kreditnota og purring</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T10-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T10-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T10-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T10-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T10-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T10-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>	
	<!-- STOP INVOICE -->
	
	
	<!-- START CREDITNOTE -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixx:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.cenbii.eu:profile:biixx:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote, profile creditnote only</en>
			<no>EHF kreditnota, profil kun kreditnota</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T14-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote, profile invoice and creditnote</en>
			<no>EHF kreditnota, profil faktura og kreditnota</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T14-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.peppol.eu:bis:peppol5a:ver2.0" 
		version="2.0">
		<name>
			<en>PEPPOL BIS creditnote, profile invoice and creditnote</en>
			<no>PEPPOL BIS kreditnota, profil faktura og kreditnota</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EUgen.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver2.0#urn:www.cenbii.eu:transaction:biitrns014:ver2.0:extended:urn:www.cenbii.eu:profile:biixy:ver2.0:extended:urn:www.difi.no:ehf:kreditnota:ver2.0" 
		version="2.0">
		<name>
			<en>EHF creditnote, profile invoice, creditnote and reminder</en>
			<no>EHF kreditnota, profil faktura, kreditnota og purring</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-CreditNote-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-BiiRules.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EUgen.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-EHFCore.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nonat.xsl" />
		<step id="XSL" file="/STANDARD/EHFInvoice/2.0/xsl/UBL-T14-Nogov.xsl" />
		<step id="FILTER" rule="BII2-T14-R025" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T104-R044" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R048" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R049" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R050" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R037" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="BII2-T14-R035" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R041" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="EUGEN-T14-R047" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="CL-T14-R007" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
		<step id="FILTER" rule="OP-T14-R004" file="/STANDARD/common/filter/FILTER-RULE.xsl" />
	</validate>
	<!-- STOP CREDITNOTE -->
	<!-- STOP VERSION 2.0 -->
	
	
	<!-- START REMINDER -->
	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm017:ver1.0:#urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.difi.no:ehf:purring:ver1" 
		version="1.0">
		<name>
			<en>EHF reminder</en>
			<no>EHF purring</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.0/xsd/maindoc/UBL-Reminder-2.0.xsd" />
		<step id="XSL" file="/STANDARD/EHFReminder/1.6/xsl/UBL-T17-Nonat.xsl" />
	</validate>
	<!-- STOP REMINDER -->
	
	
	<!-- START VERSION 1.0 -->
	<!-- START CATALOGUE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns019:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0:extended:urn:www.difi.no:ehf:katalog:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Catalogue, Norwegian actors only</en>
			<no>EHF katalog, norske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Catalogue-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/NOGOV-UBL-T19.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/BIIRULES-UBL-T19.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/OPENPEPPOL-UBL-T19.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns019:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0" 
		version="1.0">
		<name>
			<en>PEPPOL BIS Catalogue, international actor</en>
			<no>PEPPOL BIS katalog, utenlandsk aktør</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Catalogue-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/BIIRULES-UBL-T19.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/OPENPEPPOL-UBL-T19.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns058:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0:extended:urn:www.difi.no:ehf:katalogbekreftelse:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Cataloguerespone, Norwegian actors only</en>
			<no>EHF katalogbekreftelse, norske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-ApplicationResponse-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/NOGOV-UBL-T58.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/BIIRULES-UBL-T58.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/OPENPEPPOL-UBL-T58.xsl" />
	</validate>

	<validate 
		id="urn:www.cenbii.eu:profile:bii01:ver2.0#urn:www.cenbii.eu:transaction:biitrns058:ver2.0:extended:urn:www.peppol.eu:bis:peppol1a:ver2.0" 
		version="1.0">
		<name>
			<en>PEPPOL BIS Cataloguerespone, international actor</en>
			<no>PEPPOL BIS katalogbekreftelse, utenlandsk aktør</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-ApplicationResponse-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/BIIRULES-UBL-T58.xsl" />
		<step id="XSL" file="/STANDARD/EHFCatalogue/1.0/xsl/OPENPEPPOL-UBL-T58.xsl" />
	</validate>
	<!-- STOP CATALOGUE -->
	
	
	<!-- START ORDER -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns001:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0:extended:urn:www.difi.no:ehf:ordre:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Order, Norwegian actors only</en>
			<no>EHF Ordre, norske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Order-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/NOGOV-UBL-T01.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/BIIRULES-UBL-T01.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/OPENPEPPOL-UBL-T01.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns001:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0" 		
		version="1.0">
		<name>
			<en>PEPPOL BIS Order, International actors</en>
			<no>PEPPOL BIS Ordre, utenlandske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-Order-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/BIIRULES-UBL-T01.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/OPENPEPPOL-UBL-T01.xsl" />
	</validate>
	<!-- STOP ORDER -->
	
	
	<!-- START ORDER RESPONSE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns076:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0:extended:urn:www.difi.no:ehf:ordrebekreftelse:ver1.0" 		
		version="1.0">
		<name>
			<en>EHF Orderresponse, Norwegian actors only</en>
			<no>EHF Ordrebekreftelse, norske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-OrderResponse-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/NOGOV-UBL-T76.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/BIIRULES-UBL-T76.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/OPENPEPPOL-UBL-T76.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii28:ver2.0#urn:www.cenbii.eu:transaction:biitrns076:ver2.0:extended:urn:www.peppol.eu:bis:peppol28a:ver1.0" 		
		version="1.0">
		<name>
			<en>PEPPOL BIS Orderresponse, International actors</en>
			<no>PEPPOL BIS Ordrebekreftelse, utenlandske aktører</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-OrderResponse-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/BIIRULES-UBL-T76.xsl" />
		<step id="XSL" file="/STANDARD/EHFOrder/1.0/xsl/OPENPEPPOL-UBL-T76.xsl" />
	</validate>	
	<!-- STOP ORDER RESPONSE -->	
	
	
	<!-- START DESPATCHADVICE -->
	<validate 
		id="urn:www.cenbii.eu:profile:bii30:ver2.0#urn:www.cenbii.eu:transaction:biitrns016:ver1.0:extended:urn:www.peppol.eu:bis:peppol30a:ver1.0:extended:urn:www.difi.no:ehf:pakkseddel:ver1.0" 
		version="1.0">
		<name>
			<en>EHF Despatch Advice, profile Despatch Advice only</en>
			<no>EHF pakkseddel, profil pakkseddel</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-DespatchAdvice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFDespatchAdvice/1.0/xsl/UBL-T16-BIIRULES.xsl" />
	</validate>
	
	<validate 
		id="urn:www.cenbii.eu:profile:bii30:ver2.0#urn:www.cenbii.eu:transaction:biitrns016:ver1.0:extended:urn:www.peppol.eu:bis:peppol30a:ver1.0" 
		version="1.0">
		<name>
			<en>PEPPOL BIS Despatch Advice, profile Despatch Advice only</en>
			<no>PEPPOL BIS pakkseddel, profil pakkseddel</no>
		</name>
		<step id="XSD" file="/STANDARD/common/xsd/UBL-2.1/xsd/maindoc/UBL-DespatchAdvice-2.1.xsd" />
		<step id="XSL" file="/STANDARD/EHFDespatchAdvice/1.0/xsl/UBL-T16-BIIRULES.xsl" />
	</validate>	
	<!-- STOP DESPATCHADVICE -->	
	<!-- STOP VERSION 1.0 -->
		
</config>
