<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xi="http://www.w3.org/2001/XInclude">

	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.peppol.eu:bis:peppol4a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 1</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nonat.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nogov.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>	

	<validate 
		id="urn:www.cenbii.eu:profile:bii04:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.peppol.eu:bis:peppol4a:ver1.0" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 2</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>

	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.peppol.eu:bis:peppol5a:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 3</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nonat.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nogov.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>

	<validate 
		id="urn:www.cenbii.eu:profile:bii05:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.peppol.eu:bis:peppol5a:ver1.0" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 4</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>

	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.cenbii.eu:profile.eu:biixy:ver1.0#urn:www.difi.no:ehf:faktura:ver1" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 5</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nonat.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Nogov.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>	

	<validate 
		id="urn:www.cenbii.eu:profile:biixy:ver1.0#urn:www.cenbii.eu:transaction:biicoretrdm010:ver1.0#urn:www.cenbii.eu:profile.eu:biixy:ver1.0" 
		version="1.4">
		<name>
			<en>Electronic trade format - invoice 6</en>
			<no>Elektronisk handelsformat - faktura</no>
		</name>
		<xi:include href="/STANDARD/1.4/includes/UBL-Invoice-2.0.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiCore.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiProfiles.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRules.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-Eugen.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-BiiRulesCodes.xml" />
		<xi:include href="/STANDARD/1.4/includes/UBL-T10-EugenRulesCodes.xml" />		
	</validate>			

</config>